@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(40deg); }
  25% {
    transform: translate(-1px, -1px) rotate(39deg); }
  50% {
    transform: translate(1px, 1px) rotate(40deg); }
  75% {
    transform: translate(-1px, -1px) rotate(39deg); }
  100% {
    transform: translate(1px, 1px) rotate(40deg); } }

@keyframes shakeStill {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  25% {
    transform: translate(-1px, -1px) rotate(1deg); }
  50% {
    transform: translate(1px, 1px) rotate(0deg); }
  75% {
    transform: translate(-1px, -1px) rotate(-1deg); }
  100% {
    transform: translate(1px, 1px) rotate(0deg); } }

/*
0-600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
1200-1800px: Default Style
1800px+ : Big Desktop

$Breakpoint arguments:
-phone
-tab-port
-tab-land
-big-desk

1em=16px
*/
:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #F40009;
  --color-secondary: #50d0ff;
  --font-size-default: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*16px is default broweser size, we set it to 10px (1rem)*/ }
  @media only screen and (max-width: 100em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 35%; } }
  @media only screen and (min-width: 125em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: var(--color-primary);
  color: var(--color-black); }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-black);
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif; }

.footer {
  height: 12.8rem;
  background-color: var(--color-black);
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__up {
    margin-top: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem; }
  .footer__down {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .footer__down a:visited,
    .footer__down a:link,
    .footer__down a:hover,
    .footer__down a:active {
      text-decoration: none;
      color: grey;
      margin: 0 2rem; }

.navbar {
  position: sticky;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0; }
  .navbar__icon {
    width: 3rem;
    margin: 0 1rem; }

.section-intro {
  position: relative;
  height: 85vh; }
  .section-intro__logo {
    margin-top: 10rem;
    margin-left: 3rem; }
    .section-intro__logo-black, .section-intro__logo-red {
      position: absolute; }
    .section-intro__logo-red {
      left: 3rem;
      top: 2rem;
      z-index: -4; }
  .section-intro__waves {
    position: absolute;
    bottom: 0;
    width: 100%; }
    .section-intro__waves-empty, .section-intro__waves-red {
      position: relative; }
    .section-intro__waves-empty {
      z-index: 10;
      top: 22rem;
      left: -4rem; }
  .section-intro__menu {
    position: absolute;
    right: 10rem;
    bottom: 30rem; }
    .section-intro__menu-link:visited, .section-intro__menu-link:link, .section-intro__menu-link:active {
      text-decoration: none;
      color: var(--color-black); }
    .section-intro__menu-link {
      position: relative; }
      .section-intro__menu-link div {
        width: 40rem;
        height: 3rem;
        background-color: var(--color-primary);
        opacity: 50%;
        position: absolute;
        top: 4.5rem;
        left: 4rem;
        z-index: -2;
        transition: all .5s; }
    .section-intro__menu-link:hover div {
      transform: translateX(-4.5rem); }
    .section-intro__menu-text {
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: -1rem; }
  .section-intro__img {
    height: 80rem;
    width: auto;
    position: absolute;
    transform: rotate(40deg);
    left: -10rem;
    bottom: -25rem;
    z-index: 9; }
    .section-intro__img:hover {
      animation: shake 1s;
      animation-iteration-count: infinite; }

.section-sustainability {
  margin-top: -1.2rem;
  display: flex;
  justify-content: space-between;
  height: 91rem;
  position: relative;
  overflow: hidden;
  border-top: 7px black solid; }
  .section-sustainability-lx {
    margin: 12rem 0 0 10rem;
    position: relative; }
    .section-sustainability-lx div {
      width: 40rem;
      height: 3rem;
      background-color: var(--color-primary);
      opacity: 30%;
      position: absolute;
      top: 4.5rem;
      left: 8rem;
      transition: all .5s; }
  .section-sustainability-rx {
    transform: scaleX(-1);
    width: 150rem;
    position: relative;
    bottom: -14rem;
    right: 3rem; }
  .section-sustainability__title {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    color: white; }
  .section-sustainability__text {
    width: 60%;
    color: white;
    font-size: 3rem;
    font-weight: 200;
    margin-top: 20rem; }

.section-sustainability::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1471289660181-7feae98d61ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  filter: brightness(70%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.section-articles {
  display: flex;
  height: 72rem;
  text-align: center;
  z-index: 0; }
  .section-articles-lx {
    width: 70%;
    position: relative;
    overflow: hidden;
    z-index: 1; }
    .section-articles-lx__title {
      margin-top: 30%;
      transform: translateY(-50%); }
  .section-articles-lx::after, .section-articles-rx::after {
    content: "";
    background-size: cover;
    filter: brightness(70%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transform: scale(1.3);
    transition: all .6s; }
  .section-articles-lx::after {
    background-image: url("https://d17mj1ha1c2g57.cloudfront.net/v1/fsapS4izMWcWvvr0SOwWbTLVBtQ/1024x576%23/80/shotsmag/production/clips/1596102127272/coke-hero.jpg?v=1&quality=80&format=jpeg"); }
  .section-articles-rx::after {
    background-image: url("https://www.coca-cola.co.uk/content/dam/one/gb/en/home-page/carousel/CCJ_Carousel_WWF_desktop.jpg"); }
  .section-articles-lx:hover .box {
    transform: scaleX(1.2) translate(-50%, -30%); }
  .section-articles-lx:hover::after {
    transform: scale(1.2); }
  .section-articles-rx:hover .box {
    transform: scaleY(1.6) translate(-50%, -50%); }
  .section-articles-rx:hover::after {
    transform: scale(1.2); }
  .section-articles-rx {
    width: 30%;
    position: relative;
    overflow: hidden; }
    .section-articles-rx__title {
      margin-top: 70%;
      transform: translateY(-50%); }
  .section-articles-rx__title, .section-articles-lx__title {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4rem;
    color: white;
    z-index: 200; }
  .section-articles .box {
    width: 40rem;
    height: 3rem;
    background-color: var(--color-primary);
    opacity: 30%;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s; }
  .section-articles-lx .box {
    top: 58%;
    left: 54%; }
  .section-articles-rx .box {
    top: 54%; }

.section-callToAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100rem; }
  .section-callToAction-up {
    display: flex;
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400; }
    .section-callToAction-up div {
      margin: 7rem;
      position: relative;
      top: 30rem; }
      .section-callToAction-up div::after {
        content: "";
        width: 40rem;
        height: 3rem;
        background-color: var(--color-primary);
        opacity: 50%;
        position: absolute;
        top: 5rem;
        left: -5rem;
        z-index: -1;
        transition: all .5s; }
      .section-callToAction-up div:hover::after {
        transform: translate(20%) scale(1.2); }
  .section-callToAction-down {
    display: flex; }
    .section-callToAction-down__box {
      margin-left: 5rem; }
      .section-callToAction-down__box:hover {
        animation: shakeStill 1s;
        animation-iteration-count: infinite; }
    .section-callToAction-down__img {
      position: relative;
      top: 30rem;
      height: 90rem; }
    .section-callToAction-down__svg {
      position: relative;
      top: 34rem;
      left: 16.5rem; }
  .section-callToAction__bubbles {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1; }
