.footer{
    height: 12.8rem;
    background-color: var(--color-black);
    color: grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__up{
        margin-top: 2rem;
        @include textH3;
        font-size: 2rem;

    }

    &__down{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;

        a:visited,
        a:link,
        a:hover,
        a:active{
            text-decoration: none;
            color: grey;
            margin: 0 2rem;
        }
    }
}