.navbar{
    position: sticky;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;

    &__icon{
        width: 3rem;
        margin: 0 1rem;
    }
}